18 - 19/DTD/catalog.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    TODO define vocabulary identification
    PUBLIC ID: -//vendor//vocabulary//EN
    SYSTEM ID: http://server/path/catalog.dtd

-->

<!--
    An example how to use this DTD from your XML document:

    <?xml version="1.0"?>

    <!DOCTYPE CATALOG SYSTEM "catalog.dtd">

    <CATALOG>
    ...
    </CATALOG>
-->

<!--- Put your DTDDoc comment here. -->
<!ELEMENT CATALOG (PLANT)*>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT PLANT (COMMON,BOTANICAL,ZONE,LIGHT,PRICE,AVAILABILITY)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT COMMON (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT BOTANICAL (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT ZONE (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT LIGHT (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT PRICE (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT AVAILABILITY (#PCDATA)>
