18 - 19/DTD/catalog_book.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--
    TODO define vocabulary identification
    PUBLIC ID: -//vendor//vocabulary//EN
    SYSTEM ID: http://server/path/catalog_book.dtd

-->

<!--
    An example how to use this DTD from your XML document:

    <?xml version="1.0"?>

    <!DOCTYPE catalog SYSTEM "catalog_book.dtd">

    <catalog>
    ...
    </catalog>
-->

<!--- Put your DTDDoc comment here. -->
<!ELEMENT catalog (book)*>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT book (author,title,public_date,description)>
<!ATTLIST book
    id CDATA #REQUIRED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT author (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT title (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT public_date (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT description (#PCDATA)>
